*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;

}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#09476F;
  color: white;
  font-size:17px; 
  font-family: serif;
  /* font-size: 3rem; */
  
}