.user-container {
  background-color: #f5f5e9;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin: 1rem;
  width:500px;
  border-radius: 20px;
  height:500px;
}

#user-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #09476f;
}

#user-name {
  font-size: 30px;
  font-weight: 800;
}


